body {
    background-color: #f4f7f6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.card-container {
    width: 600px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

/* Định dạng nút bấm chung cho thẻ <a> và <button> */
.btn-link, button, input[type="submit"] {
    flex: 1;
    padding: 14px 20px;
    color: white !important;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.btn-link:hover, button:hover {
    filter: brightness(90%);
    transform: translateY(-2px);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}